<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               Hi I'm Nicholas, Welcome to my page. I am currently a sophmore majoring in Philosophy. 
               In the spring semester I will be declaring my second major in Statistics. My interest is currently in Data Ethics, Survival Analysis and Regression Analysis, but I am always willing to learn something new. I've had experience in <a href="https://github.com/hwacc-y/JuliaMarathon">deep learning</a>, data visualization and Computer Vision.
            <p class="paragraph-text justify-text">
                At the moment I am work as an undergraduate research assitant on campus for the 
                Advance Reactors & Fuel Cycles (ARFC) research group in the Department of Nuclear, Plasma and Radiological Engineering. I mostly assist in reviewing papers for graduate students and contributing to the code base of projects within the group.
            </p>
            <p class="paragraph-text justify-text">
                In my free time I like to read, journal and binge through my movie & series list. My favorite book is Old man and the Sea. My favorite game is Control (2019). My guility pleasure is building and modding mechanical keyboards. Pictures coming soon!
            </p>
            
        </div>
    </section>
</div>
