<div class="section-wrapper">
    <section class="section" id="credit">
        <div class="full-width">
            <div class="section-heading">Credit</div>
            <p class="paragraph-text justify-text">
                 Huge thanks to Abhishek Nagekar for the template for this website, please check out his other projects on <a href="https://github.com/abhn">GitHub</a>.
            </p>
            <p class="paragraph-text justify-text">
                This website uses the GPL license.
           </p>
        </div>
    </section>
</div>