<div class="section-wrapper">
    <section class="section" id="experience">
        <div class="full-width">
            <div class="section-heading">Experience</div>
            <p class="paragraph-text justify-text">
               In the past I have taken online courses such as <a href="https://coursera.org/share/cb39cc2299c0d1de717da9bec43d23b5">Introduction to Business Analytics with R</a>
                on Coursera with UIUC and <a href="https://github.com/hwacc-y/JuliaMarathon">Julia AI Marathon</a> on Cupoy. More recent online course work I have taken would be Writing in the Sciences on coursera. 
                Relevant  course work I have taken at UIUC would be Stat 207, IS 205, IS 204 and Stat 107.
            </p>

            <p class="paragraph-text justify-text">
                 On campus, I am employed as an undergraduate research assistant working for the Advance Reactors & Fuel Cycles (<a href="http://arfc.github.io">ARFC</a>).
                  My job involves doing technical editing for graduate students and helping code parts of larger technical projects like the H2 illinois project. 
                  Currently I am working on developing the example use case of the Osier pacakge, a genetic algorithm powered energy system optimization model package.
            </p>
            
            <p class="paragraph-text justify-text">
                Outside of school and work I am a Library ambassador to the University Library and I am actively involved in 
                the Illinois Data Science Club, Philosophy Club, Illini EV Concept, and the Hong Kong Student Association. At Illini EV Concept, 
                I am the Head of Data Analytics, and my job is to provide data-oriented solutions to improve the workflow of the car team. Projects I have been involved with include 
                designing  the inventory data management  system, implementing a discord based purchase order handler and team member engagement system. As the president of the Hong Kong Student Association 
                my responsibilities are to plan and organize events with my other board members to make new students coming from Hong Kong feel a sense of community abroad and to spread awareness to the 
                unique culture of Hong Kong to other students who haven’t been able to experience my culture. 
            </p>
        </div>
    </section>
</div>